.padre{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    height: 50vh;
    width: 50vh;
}

