body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background: #1abc9c;
    background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}
h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #eee;
}


@keyframes float {
    0% {
        filter: drop-shadow(0 5px 15px  rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
   }
    50% {
        filter: drop-shadow(0 25px 15px  rgba(0, 0, 0, 0.2));
        transform: translatey(-20px);
   }
    100% {
        filter: drop-shadow(0 5px 15px  rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
   }
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 30vh;
    width: 30vh;
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));

    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}
.avatar img {
    width: 100%;
    height: auto;
}
.content {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    max-width: 600px;
    padding: 0px 0px;
    box-sizing: border-box;
    text-align: center;
}
